[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "SimpleMultiBandComp"]
	path = SimpleMultiBandComp
	url = https://github.com/matkatmusic/SimpleMultiBandComp.git
